.spinnerContainer{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        color: white;
        font-size: 3rem;
        margin: 0;
    }
}

.hidden{
    display: none;
}